Source: xivo-acceptance-server
Section: admin
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo-acceptance-server
Architecture: all
Pre-depends:  xivo-ci
Depends: ssh
Description: Wazo Acceptance Server
 This package installs xivo acceptance tools
 to a Wazo server.

